#section__btn {
  position: relative;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  z-index: 1;
  height: 55vh;
}

#section__btn .flex__container {
  flex-direction: column;
}

#section__btn .flex__container > div {
  display: flex;
}

#section__btn a {
  margin: 0 0.4rem;
}

#section__btn p {
  color: var(--light-color);
  font-size: 2.3rem;
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 1.82rem;
  justify-content: center;
  text-align: center;
  font-weight: 300;
}

#section__btn h2 {
  font-family: var(--primary-font);
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  /* font-weight: 300; */
  color: var(--primary-color);
  text-transform: uppercase;
}
