@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
:root {
  --max-width: 110rem;
  --primary-font: "Oswald", sans-serif;
  --primary-color: #f7c501;
  --secondary-color: #424850;
  --light-color: #fefefe;
  --dark-color: #2e2e2e;

  /* Review */
  --white-color: #fff;
  --beaches-color: #f99500;
  --ent-color: #a66bbe;
  --food-color: #009cff;
  --cont-color: #f39422;
  --text-color: rgba(0, 0, 0, 0.6);
  --gray-color: #ccc;
  --dark-overlay: rgba(0, 0, 0, 0.32);
  --text-shadow: 1px 3px rgba(0, 0, 0, 0.72);
  --border-radius: 0.5rem;
  --secondary-dark-color: #444;
}
