@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* VARIABLES CSS */
:root {
  --max-width: 110rem;
  --primary-font: "Oswald", sans-serif;
  --primary-color: #f7c501;
  --secondary-color: #424850;
  --light-color: #fefefe;
  --dark-color: #2e2e2e;
  --secondary-dark-color: #ccc;

  /* Review */
  --white-color: #fff;
  --beaches-color: #f99500;
  --ent-color: #a66bbe;
  --food-color: #009cff;
  --cont-color: #f39422;
  --text-color: rgba(0, 0, 0, 0.6);
  --gray-color: #ccc;
  --dark-overlay: rgba(0, 0, 0, 0.32);
  --text-shadow: 1px 3px rgba(0, 0, 0, 0.72);
  --border-radius: 0.5rem;
  /* --secondary-dark-color: #444; */
}

/* RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  background: var(--light-color);
  color: var(--secondary-color);
  font-size: 1.6rem;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-transform: uppercase;
  color: var(--light-color);
  text-decoration: none;
  font-weight: 500;
  outline: none;
  line-height: 32px;
  font-size: 1.8rem;
}

h1 {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
  line-height: 1.5;
}

img {
  width: 100%;
}

/* MENUS CSS */
/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  z-index: 1000;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navbar .logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 18rem;
  justify-content: center;
}

.navbar .logo img {
  object-fit: cover;
  position: relative;
}

.navbar a {
  color: var(--light-color);
  font-weight: 400;
  font-weight: 300;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 2.6rem;
}

.navbar ul li a:hover {
  color: var(--primary-color);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 0.4s;
}

.navbar ul li a.current-link {
  border-bottom: 0.2rem solid var(--primary-color);
}

.navbar.active {
  transition: background 0.6s ease-in-out;
  background-color: var(--secondary-color);
  z-index: 1000;
  border-bottom: 0.3rem solid var(--primary-color);
}

/* HAMBURGER BTN */
.hamburger {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 1000000;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 0;
  left: 0;
  background: var(--light-color);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(5px);
}

.hamburger-bottom {
  transform: translateY(10px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* MOBILE MENU */
.mobile-main-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  z-index: 4;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile-main-menu .logo {
  width: 18rem;
  margin: 4rem 0 0 3rem;
  align-self: center;
  justify-self: center;
}

.mobile-main-menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.mobile-main-menu ul li {
  margin-bottom: 20px;
  font-size: 1.8rem;
  border-bottom: 0.1rem solid var(--secondary-color);
  width: 100%;
  text-align: left;
  padding-bottom: 8px;
}

.mobile-main-menu ul li a {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 28px;
  color: var(--secondary-color);
  opacity: 0.6;
  transition: color 0.6s;
}

.mobile-main-menu ul li a.current-link {
  opacity: 1;
}

.mobile-main-menu ul li a:hover {
  opacity: 1;
}

.show-menu {
  transform: translateX(0);
}

/* HEROS */
.hero {
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  z-index: 2;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.hero .hero__content {
  text-transform: uppercase;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 3rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.hero__title {
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 96px;
  color: var(--light-color);
  margin-bottom: 5.6rem;
}

/* FOOTER CSS */
#footer {
  background-color: var(--secondary-color);
}

#footer,
#footer p {
  font-family: var(--primary-font);
  font-weight: 300;
}

#footer p {
  font-size: 1.82rem;
  letter-spacing: 0.02rem;
  margin-bottom: 0;
}

#footer a {
  font-weight: 300;
  color: var(--light-color);
}

#footer h3 {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  line-height: 20px;
  color: var(--light-color);
  font-weight: 300;
}

#footer .flex-container:first-child {
  grid-column: 1 / span 3;
  gap: 2rem;
}

#footer .flex-container:first-child > div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#footer .flex-container:first-child > div:first-of-type {
  position: relative;
}

#footer .social-icons {
  margin-top: 3rem;
  display: flex;
}

#footer .social-icons i {
  transition: all 0.2s ease-in-out;
}

#footer .social-icons i:hover {
  transform: scale(0.96);
  background-color: var(--light-color);
  color: var(--secondary-color);
}

#footer .social-icons i {
  padding: 1.2rem;
  background-color: var(--light-color);
  color: var(--secondary-color);
  min-width: 4.5rem;
  font-size: 1.6rem;
  text-align: center;
  margin: 0 0.21rem;
  margin-bottom: 2rem;
  /* font-weight: bold; */
  /* border-radius: 1rem; */
}

#footer .flex-container:nth-child(2) {
  grid-column: 1 / span 3;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  border-bottom: 0.1rem solid var(--light-color);
  opacity: 0.1;
}

#footer .flex-container:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#footer .flex-container:nth-child(2) ul li {
  padding: 0.8rem 1rem;
}

#footer .flex-container:nth-child(2) ul li a {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0.51rem;
  color: var(--light-color);
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}

#footer .flex-container:nth-child(2) ul li a:hover {
  color: var(--white-color);
  opacity: 1;
}

#footer .flex-container:last-child {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#footer .flex-container:last-child p,
#footer .flex-container:last-child a {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--light-color);
  font-weight: 300;
}
#footer .flex-container:last-child a {
  color: var(--primary-color);
  font-weight: 400;
}

#footer .flex-container:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0.3;
  border-bottom: 0.1rem solid var(--light-color);
  height: 0.1rem;
}

.footer__nav {
  display: flex;
  max-width: 38%;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__nav {
  display: flex;
  margin-bottom: 2rem;
}

.footer__nav li a {
  font-size: 1.4rem;
}

.footer__nav li a:hover {
  color: var(--primary-color) !important;
  opacity: 1;
}

/* SCROLL & BACK TO TOP*/
.scrollTop {
  position: fixed;
  right: 0rem;
  bottom: 80rem;
  font-size: 4rem;
  background-color: var(--secondary-color);
  color: var(--light-color);
  border-radius: 1rem;
  cursor: pointer;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: 0.8s;
}

.scrollTop.active {
  visibility: visible;
  opacity: 1;
  bottom: 4.5rem;
  right: 1rem;
  bottom: 10rem;
}

.scrollTop:hover {
  opacity: 0.8;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

/* SECTION HEADER */
.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--secondary-color);
}

.header__top {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
  letter-spacing: 0.1rem;
  margin-top: 0;
}

.header__main {
  position: relative;
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}

.header__main::before,
.header__main::after {
  content: "";
  position: absolute;
  bottom: 40%;
  right: 100%;
  width: 9rem;
  height: 0.3rem;
  margin-right: 1rem;
  background-color: var(--primary-color);
}

.header__main::after {
  left: 100%;
  margin-left: 1rem;
  margin-right: 0;
}

.header__content {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.7rem;
  max-width: 75%;
}
