@media (max-width: 768px) {
  /* BODY */
  body {
    overflow-x: hidden;
  }

  /* NAVBAR */
  .mobile-only {
    display: block;
  }
  .navbar ul {
    display: none;
  }

  /* HOME: HERO */
  #hero-home {
    position: relative;
    min-height: 50vh;
    max-height: 60vh;
  }
  #hero-home .arrows button {
    font-size: 1rem;
    top: 50%;
  }
  .slider .content {
    width: 32rem;
    color: var(--light-color);
  }
  .slide .content h1 {
    font-size: 3rem;

    line-height: 1.1;
  }
  .slide .content h3 {
    font-size: 1.8rem;
    line-height: 1.2;
  }
  .slide .btn {
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
    min-width: 15rem;
  }
  .slide .btn i {
    font-size: 1.3rem;
  }
  /* HOME: SECTION ABOUT */
  .section__about {
    min-height: 60vh;
    position: relative;
  }
  .section__about .btn__container {
    margin: 0 auto;
  }
  .section__about .grid__container {
    flex-direction: column-reverse;
  }
  .section__about .grid__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .section__about .grid__images img {
    height: 135px;
  }
  .section__about .about__subheader {
    font-size: 2.5rem;
  }
  /* HOME: SECTION BTN */
  #section__btn {
    min-height: 20vh;
    max-height: 38vh;
    text-align: center;
  }
  #section__btn h2 {
    font-size: 3.2rem;
    margin-top: 0;
    line-height: 1.1;
  }
  #section__btn p {
    font-size: 1.9rem;
    line-height: 1.2;
  }
  #section__btn .btn {
    padding: 0.8rem 1rem;
    font-size: 1.3rem;
  }
  .btn__container {
    margin-right: 2rem;
    margin-left: 1.5rem;
  }
  .btn__container .btn i {
    margin-left: 0rem;
    font-size: 1.3rem;
  }

  /* CONTAINERS */
  .grid__container {
    display: flex;
    flex-direction: column;
  }

  /* SECTION HEADER */
  .section__header span {
    font-size: 4rem;
  }
  .header__top {
    font-size: 2.2rem;
    line-height: 1.1;
  }
  .header__main {
    font-size: 3.3rem;
    line-height: 1.1;
  }
  .header__main::after,
  .header__main::before {
    width: 22%;
  }
  .header__content {
    font-size: 1.8rem;
    color: var(--secondary-color);
    line-height: 1.5;
    font-weight: 200;
    text-align: justify;
    min-width: 100%;
  }

  /* HOME: SLIDER CARDS */
  .section__areas {
    margin-top: 2rem;
    min-height: 75vh;
    display: flex;
  }

  .slider__cards {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
  }

  .new {
    margin-top: 3rem;
    min-height: 9vh;
  }

  .owl-carousel {
    width: 90%;
  }

  /* FOOTER */
  .footer__nav {
    min-width: 100%;
  }
  .footer__nav a {
    font-size: 0.7rem;
  }
  #footer .flex-container:last-child {
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    /* background-color: red; */
  }
  #footer .flex-container:last-child p {
    opacity: 0.5;
    font-size: 1.2rem;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 0;
  }
  #footer .flex-container:last-child p:first-child {
    display: flex;
    justify-content: center;
    opacity: 1;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    align-items: center;
    text-align: center;
  }

  #footer .flex-container:last-child p:last-child {
    justify-content: center;
    opacity: 1;
    display: flex;
    align-items: center;
    width: 100%;
  }

  /* HEROS */
  .hero__title {
    margin-bottom: 0;
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  /* DUVIDAS FREQUENTES */
  #hero-info {
    height: 18rem;
  }
  /* ESCRITÓRIO */
  #hero__about {
    height: 18rem;
  }
  .section__culture {
    padding-bottom: 3rem;
  }
  .section__culture .flex__card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 12rem;
    padding: 0.51rem 0.51rem;
    min-height: 6rem;
    width: 20%;
  }
  .section__culture .card__title {
    font-size: 2rem;
  }
  .section__culture .grid__container {
    display: flex;
    flex-direction: row;
  }
  .section__office .container:last-child .grid__5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 1rem;
  }
  .section__office .container:last-child .grid__5 a:last-of-type img {
    display: none;
  }

  /* AREAS DE ATUAÇÃO */
  #hero__areas {
    height: 18rem;
  }

  /* ARTICLES */
  #hero-civel {
    height: 18rem;
  }

  .page-container {
    display: flex;
    flex-direction: column;
  }
  .category {
    font-size: 1.2rem;
    word-wrap: none;
    text-align: center;
    width: 50%;
    margin-left: 1rem;
  }
  .section__breadcrumb {
    display: flex;
    justify-content: center;
    min-height: 5vh;
    justify-content: center;
    align-items: center;
  }

  .section__breadcrumb h2 {
    font-size: 1.3rem;
    display: none;
  }
  .breadcrumb__nav ul {
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .breadcrumb__nav ul li a:last-of-type {
    display: flex;
    width: 100%;
  }
}
@media (max-width: 500px) {
}
