/* @media (max-width: 768px) { */
/* NAVBAR */
/* .navbar ul {
  display: none;

} */

/* FOOTER */
/* .footer .grid__4 {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__logo {
    display: none;
  } */

/* HEROS */
/* #hero-home {
    overflow: hidden;
    height: 50vh;
  }

  .slide .content {
    height: 100%;
    align-items: center;
    padding-top: 10rem;
  }

  #hero-info,
  #hero__areas,
  #hero__about {
    height: 30vh;
  } */
/* HOME */
/* #section__services .grid__4 {
    grid-template-columns: repeat(2, 1fr);
  }
  .section__about {
    min-height: 50vh;
  } */
/* SECTION BTN */
/* #section__btn {
    height: 30vh;
  }
} */

/* MEDIA: MOBILE */

/* @media (max-width: 500px) { */
/* HOME */
/* #section__services .grid__4 {
    grid-template-columns: repeat(1, 1fr);
  }
  .section__about .grid__container {
    grid-template-columns: 1fr;
  }
  .about__box {
    display: none;
  } */

/* PAGE INFO */
/* #section__faq .grid__container {
    grid-template-columns: 1fr;
  } */

/* FOOTER */
@media (max-width: 500px) {
  /* NAVBAR */
  /* .navbar ul {
    display: none;
  } */

  /* HEROS */
  .hero__title {
    margin-bottom: 0;
    font-size: 3.5rem;
  }

  /* PAGE: INFO */
  #hero-info {
    height: 18rem;
  }

  #section__faq .grid__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  /* PAGE: ABOUT */
  #hero__about {
    height: 18rem;
  }

  .container__content {
    grid-template-columns: 1fr;
  }

  .section__office .grid__5 {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section__culture .grid__3 {
    grid-template-columns: repeat(2, 1fr);
    max-width: 50% !important;
  }

  .section__culture .grid__3 {
    max-width: 90%;
    margin: 0 auto;
  }

  .section__culture .flex__card {
    width: 16rem;
  }

  .section__culture .card__title {
    font-size: 2rem;
  }

  .section__tech .grid__container {
    grid-template-columns: 1fr;
  }

  .office__image {
    display: none;
  }

  /* PAGE: ATUACAO */
  #hero__areas {
    height: 18rem;
  }

  #areas .grid__4 {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }

  /* FOOTER */
  /* .footer .grid__4 {
    grid-template-columns: repeat(2, 1fr);
  } */
  /* 
  .footer .footer__social {
    grid-column: 1 / span 2;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }

  .footer .footer__links {
    display: none;
  }

  .footer .footer__info {
    width: 100%;
    grid-column: 1 / span 2;
    text-align: center;
  }

  .footer__logo {
    display: none;
  } */
  /* 
  .footer__copyright .container {
    flex-direction: column;
    text-align: center;
  }

  .footer__copyright .developer__info {
    margin-top: 0;
    display: none;
  }
} */
  /*

 

 
  

} */
  /* @media (max-width: 500px) {
  #section__btn {
    padding: 2rem 0;
    min-height: 95vh !important;
  }
  #section__btn h2 {
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.2;
  }
  #section__btn p {
    font-size: 2rem;
    line-height: 1.2;
  }
  #section__btn .btn__container {
    flex-direction: column; /* max-width: 10rem; */
  /* width: 20rem; */
  /* padding: none;
     */
  /* } */
  /* #section__btn .btn__container a:first-child {
    margin-bottom: 2rem;
  }
  #section__btn .btn__container a {
    min-width: 20rem !important;
    line-height: 1.2; */
  /* } */
  /* } */

  /* @media (max-width: 500px) {
  #hero-info .hero__content h1 {
    font-size: 3rem;
  }
  #hero-info .hero__content {
    align-items: flex-start;
    justify-content: flex-end;
  }
} */

  /* TESTANDO */
  @media (max-width: 768px) {
    /* HEROS */
    body {
      overflow-x: hidden;
    }
    /* .navbar {
      height: 6rem;
    } */
    /* .hero {
      height: 50vh;
    } */
    .hero .hero-content h1 {
      font-family: var(--primary-font);
      font-weight: 700;
      font-size: 5rem;
      margin-bottom: 0rem;
    }
    /* SLIDER */
    .slide .content {
      max-width: 100vw;
      margin: 0 auto;
    }
    .slide:nth-child(6) .content,
    .slide:nth-child(5) .content,
    .slide:nth-child(4) .content,
    .slide:nth-child(3) .content,
    .slide:nth-child(2) .content,
    .slide:nth-child(1) .content {
      text-align: center;
      max-width: 90%;
    }

    .text-large {
      font-size: 5rem !important;
      font-weight: 700;
      line-height: 1.2;
    }

    /* SECTION BTN */

    /* FOOTER */
    /* #footer .flex-container:nth-child(2) {
      min-width: 100%;
      background-color: red;
    } */
    /* #footer .flex-container:nth-child(2) ul li {
      padding: 0.3rem 0.5rem;
    } */
  }

  @media (max-width: 960px) {
    /* show main mobile menu */
    .mobile-only {
      display: block;
    }
    .navbar ul {
      display: none;
    }
    /* .navbar ul,
  .navbar .logo {
    display: none;
  } */
  }
}
