/* PAGE: AREAS */
#hero__areas {
  height: 50vh;
  background-color: var(--secondary-color);
}

#hero__areas .hero-content {
  align-items: flex-start;
}

#areas .btn__container {
  margin-top: 2rem;
}

#areas .flex__card {
  z-index: 1;
  height: 40rem;
}

.card__link {
  text-transform: unset;
  display: flex;
  flex-direction: column;
}

#areas .btn__container i {
  border: unset;
  color: var(--light-color);
  width: unset;
  padding: unset;
}

#areas .btn {
  min-width: 1.5rem;
}
