/* HOMEPAGE */
#hero-home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--secondary-color);
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s ease-out;
  opacity: 0;
  text-align: center;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slide .content {
  z-index: 10;
}

.slide .content h3 {
  font-weight: 300;
}

.slide.current {
  opacity: 1;
  z-index: 10;
}

.slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.arrows button {
  position: absolute;
  top: 50%;
  color: var(--light-color);
  background-color: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 12;
  /* display: none; */
}

.arrows button:hover {
  opacity: 1;
  transform: scale(0.9);
}

.arrows button#next {
  right: 1.5%;
  opacity: 0.4;
}

.arrows button#prev {
  left: 1.5rem;
  opacity: 0.4;
}

.arrows button#next:hover,
.arrows button#prev:hover {
  opacity: 1;
}

.slider .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 94rem;
  color: var(--light-color);
}

.slide .content h1 {
  text-transform: none;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.2;
}

.slide .btn {
  margin: 1.3rem 0;
}

#section__btn {
  position: relative;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  z-index: 1;
  height: 55vh;
}

#section__btn .flex__container {
  flex-direction: column;
}

#section__btn .flex__container > div {
  display: flex;
}

#section__btn a {
  margin: 0 0.4rem;
}

#section__btn p {
  color: var(--light-color);
  font-size: 2.3rem;
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 1.82rem;
  justify-content: center;
  text-align: center;
  font-weight: 300;
}

#section__btn h2 {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--primary-color);
}
