/* PAGE: ARTICLE */

/* .article__text {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.7;
} */
/* 
.list li {
  padding: 0.5rem 0;
  border-bottom: #555 dotted 1px;
  width: 90%;
} */

/* .list li a {
  color: #ccc;
} */

/* .list li a:hover {
  color: var(--primary-color) !important;
} */

.section__more__articles {
  background-color: #eee;
}
